<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import the Bootstrap stylesheet -->
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 -->    <!-- Import our custom stylesheet -->
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<script type="text/javascript">
$( document ).ready(function() {
    console.log( location.host );
});
</script>