<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import the Bootstrap stylesheet -->
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 -->    <!-- Import our custom stylesheet -->
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Detect And Search </a>
            </div>
<!--             <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul> -->
        </div>
    </nav>
      
    <div class="container">
        <h3>Image Finder</h3>
        <p>Upload any image here and wait for the results</p>
    </div>

    <main>
        {% block main %}{% endblock %}
    </main>

    <!-- Import jquery 3.3.1 slim min -->
<!--     <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
 -->    <!-- Import Bootstrap bundle -->
<!--     <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
 -->    <!-- Import our custom JavaScript -->
<!--     <script src="{{ url_for('static', filename='js/app.js') }}"></script>
 -->    
    
    {% block script %}{% endblock %}
</body>

</html>













